.calendar-page {
  padding: var(--spacing-base);
  height: 100%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
}

.calendar-main {
  background: var(--color-light);
  border-radius: var(--border-radius-base);
  padding: var(--spacing-sm);
}
