.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  /* Use min-height so it always fills the viewport */
  min-height: 100vh;
}

.main-garden {
  aspect-ratio: 1/1;
  width: 100%;
}

.home-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
