.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  height: 100%;
}

.main-garden {
  aspect-ratio: 1/1;
  width: 100%;
}
