.icon-element {
  font-family: "Material Symbols Rounded";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  color: inherit;
  font-size: 24px;
  width: 24px;
  height: 24px;
  font-variation-settings: "wght" 400, "GRAD" 0, "opsz" 24, "FILL" 0;
}

.icon-element.filled {
  font-variation-settings: "wght" 400, "GRAD" 0, "opsz" 24, "FILL" 1;
}
